<html>
<head>
	<style>
		body{color: #8b795e;}
	   .vízszintesjobb{ text-shadow: 1px 0px 0px black;}
		a.one:link {color:#8b795e;text-decoration:none;}
		a.one:visited {color:#8b795e;text-decoration:none;}
		a.one:hover {color:#000000;text-decoration:none;}
	</style>
	<meta charset="charset=iso-8859-2">
	<style type="text/css">
		body {font-family: cursive;}
		.button1 {
			background-color: #fce6c9; 
			color: #8b795e; 
			border: 2px solid #D2B48C;
			transition-duration: 0.4s;
			padding: 5px 30px;
			font-size: 15px;
		}
		.button1:hover {
			background-color: #D2B48C;
			color: white;
		}
	</style>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Lakáshirdető portál</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body bgcolor="#d2b48c" link = "" alink="" vlink = "">
	<section class="container">
		<table border = 3 bgcolor = "fce6c9" align = "center">
			<tr><td>
			<table width = 1200 align = "center" border = 0>
				<tr>
					<td height = 100 colspan = 2 align = "left" background = "">
						<!--<p><img src="logo.png"></p>--->
						{% load staticfiles %}
							<img src={% static "webalkalmazas/logo.png" %}>
							<!--<img src="static/webalkalmazas/logo.png" alt="My image"/>--->
					</td>
					<td colspan = 3 align = "right" valign = "center">
						{% if user.is_authenticated %}
     						<font size= 4>Felhasználó: {{ user.get_username }}&nbsp &nbsp &nbsp</font><br>
							<a class = "one" href="{% url 'logout'%}?next={{request.path}}">Logout</a>&nbsp &nbsp &nbsp
  						{% else %}
							<a class = "one" href="{% url 'login'%}?next={{request.path}}">Login</a>&nbsp &nbsp &nbsp
   						{% endif %}

					</td>
				</tr>
				<tr>
					<td colspan = 5><hr color = "8b795e"></td>
				</tr>
				<tr height = 50 align = "center">
					<td width = "20%"><a class = "one" href="/polls/"><font size= 4>Főoldal</font></a></td>
					<td width = "20%"><a class = "one" href="/polls/search/"><font size= 4>Ingatlan keresés</font></a></td>
					<td width = "20%"><a class = "one" href="/polls/addadd/"><font size= 4><b>Hirdetés feladás</b></font></a></td>
					<td width = "20%"><!--<a class = "one" href=""><font size= 4>Link2</font></a>--></td>
					<td width = "20%"><!--<a class = "one" href=""><font size= 4>Link3</font></a>--></td>
				</tr>
					<tr height = 600>
						<td colspan = 5 valign = "top">
							<form onsubmit="return verify()" action="/polls/created/">
							<p><br><br>
							&nbsp Megye:
								<select name="country" id="idCountry">
									<option value=""></option>
									<option value="Budapest">Budapest</option>
									<option value="Bács-Kiskun">Bács-Kiskun megye</option>
									<option value="Baranya">Baranya megye</option>
									<option value="Békés">Békés megye</option>
									<option value="Borsod-Abauj">Borsod-Abaúj-Zemplén megye</option>
									<option value="Csongrád">Csongrád megye</option>
									<option value="Fejér">Fejér megye</option>
									<option value="Győr-Moson-Sopron">Győr-Moson-Sopron megye</option>
									<option value="Hajdu-Bihar">Hajdú-Bihar megye</option>
									<option value="Heves">Heves megye</option>
									<option value="Jász-Nagykun-Szolnok">Jász-Nagykun-Szolnok megye</option>
									<option value="Komárom-Esztergom">Komárom-Esztergom megye</option>
									<option value="Nográd">Nógrád megye</option>
									<option value="Past">Pest megye</option>
									<option value="Somogy">Somogy megye</option>
									<option value="Szabolcs-Szatmár-Bereg">Szabolcs-Szatmár-Bereg megye</option>
									<option value="Tolna">Tolna megye</option>
									<option value="Vas">Vas megye</option>
									<option value="Veszprém">Veszprém megye</option>
									<option value="Zala">Zala megye</option>
								</select>
							Település: <input type="text" name="city" value="" id="idCity">
							Utca: <input type="text" name="street" value="" id="idStreet">
							Házszám: <input type="text" name="number" value="" id="idNumber"></p>
							<table width = 700 align = "center">
								<tr valign = "top"><td>
									<p>Négyzetméter:<br>
										<input type="number" name="squaremeter" min="0" max="1000000" value="" id="idSquaremeter"> m<sup>2</sup></p>
									<p>Ár:<br>
										<input type="number" name="price" min="0" max="10000" value="" id="idPrice"> millió Ft</p>
									<p>Ingatlan típusa:<br>
										<select name = "type" id="idType">
											<option value=""></option>
											<option value="családi">Családi</option>
											<option value="társas">Társas</option>
											<option value="panel">Panel</option>
											<option value="iker">Iker</option>
											<option value="egyéb">Egyéb</option>
										</select></p>

									<p>Szobák száma:<br>
										<input type="number" name="rooms" min="0" max="50" value="" id="idRooms"></p>
									<p>Ingatlan állapota:<br>
										<select name = "state" id="idState">
											<option value=""></option>
											<option value="felújításra vár">Felújításra vár</option>
											<option value="felújított">Felújított</option>
											<option value="egyéb">Egyéb</option>
										</select></p>
									<p>Építés éve:<br>
										<input type="number" name="year" min="1000" max="2017" value="" id="idYear"></p>
								</td>
								<td>
									<p>Falak típusa:<br>
										<select name = "wall" id="idWall">
											<option value=""></option>
											<option value="panel">Panel</option>
											<option value="tégla">Tégla</option>
											<option value="vályog">Vályog</option>
											<option value="ytong">ytong</option>
											<option value="fa">Fa</option>
											<option value="rönk">Rönk</option>
											<option value="kő">Kő</option>
											<option value="egyéb">Egyéb</option>
										</select></p>
									<p>Fűtés típusa:<br>
										<select name = "heating" id="idHeating">
											<option value=""></option>
											<option value="központi">Központi</option>
											<option value="kályha">Kályha</option>
											<option value="cirko">Cirko</option>
											<option value="konvektor">Konvektor</option>
											<option value="egyéb">Egyéb</option>
										</select></p>
									<p>Bútorozott?<br>
										<input required type="radio" name="furnitured" value="igen">Igen<br>
										<input type="radio" name="furnitured" value="nem">Nem</p>
									<p>Kilátás:<br>
										<select name = "view" id="idView">
											<option value=""></option>
											<option value="utcára">Utcára</option>
											<option value="kertbe">Kertbe</option>
											<option value="udvarra">Udvarra</option>
											<option value="egyéb">Egyéb</option>
										</select></p>
									<p>Parkolás:<br>
										<select name = "parking" id="idParking">
											<option value=""></option>
											<option value="garázs">Garázs</option>
											<option value="kertben">Kertben</option>
											<option value="utcán">Utcán</option>
											<option value="egyéb">Egyéb</option>
										</select></p>
									<p>Lift:<br>
											<input required type="radio" name="lift" value="van">Van<br>
											<input type="radio" name="lift" value="nincs">Nincs</p>
									</td></tr>
									<tr><td colspan=2>
										<textarea style="resize:none" cols="110" rows="4" name="description" resize="false"></textarea>
									</td></tr>
							</table>
							<p align = "center"><input type="submit" class="button button1" value="Hirdetés felvétele"></p>
							</form>
						</td>
					</tr>
				<tr>
					<td colspan = 5>
						<hr color="8b795e">
					</td>
				</tr>
				<tr>
					<td colspan = 3 align="left" valign="bottom">
						<p><h4>&nbsp &nbsp &nbsp&nbsp &nbsp &nbspTovábbi hasznos oldalak</h4></p>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://www.bankracio.hu/hitelkalkulator/lakashitel/1-lakasvasarlasi-hitel-hasznalt-lakasra">Lakáshitel-kalkulátor</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://hirdetesfeladas.ingatlan.com/szolgaltatasaink-maganhirdetoknek/energiatanusitvany">Energiatanusítvány</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://alaprajz.ingatlan.com/editor">Alaprajztervező</a>
						<br>
					</td>
					<td colspan = 2 align="left">
						<p><h4>Kapcsolat</h4></p>
						Email: segitunk@talaldmegujotthonod.hu<br>
						Ügyfélszolgálat: +36 (1) 111 1111<br>
						Sajtókapcsolat: sajto@talaldmegujotthonod.hu
						<br>
					</td>
				</tr>
			</table>
			</td></tr>
		</table>
	</section>
	<script>
		function verify() {
			if(!document.getElementById('idCountry').value.trim().length)
				{
					alert("Kérlek add meg melyik megyében található az ingatlan!");
					return false;
				}
			if(!document.getElementById('idCity').value.trim().length)
				{
					alert("Kérlek add meg melyik városban található az ingatlan!");
					return false;
				}
			if(!document.getElementById('idStreet').value.trim().length)
				{
					alert("Kérlek add meg melyik utcában található az ingatlan!");
					return false;
				}
			if(!document.getElementById('idNumber').value.trim().length)
				{
					alert("Kérlek add meg mi a házszáma az ingatlannak!");
					return false;
				}
			if(!document.getElementById('idType').value.trim().length)
				{
					alert("Kérlek add meg milyen ingatlant szeretnél hirdetni!");
					return false;
				}
			if(!document.getElementById('idWall').value.trim().length)
				{
					alert("Kérlek add meg milyen falak van az ingatlanban!");
					return false;
				}
			if(!document.getElementById('idParking').value.trim().length)
				{
					alert("Kérlek add meg milyen parkolási lehetőségek vannak!");
					return false;
				}
			if(!document.getElementById('idView').value.trim().length)
				{
					alert("Kérlek add meg milyen a kilátás az ingatlanból!");
					return false;
				}
			if(!document.getElementById('idState').value.trim().length)
				{
					alert("Kérlek add meg milyen az ingatlan állapota!");
					return false;
				}
			if(!document.getElementById('idPrice').value.trim().length)
				{
					alert("Kérlek add meg mennyibe kerül az ingatlan!");
					return false;
				}
			if(!document.getElementById('idSquaremeter').value.trim().length)
				{
					alert("Kérlek add meg milyen nagy az ingatlan!");
					return false;
				}
			if(!document.getElementById('idYear').value.trim().length)
				{
					alert("Kérlek add meg melyik évben épült az ingatlan!");
					return false;
				}
			if(!document.getElementById('idRooms').value.trim().length)
				{
					alert("Kérlek add meg hány szoba található az ingatlanban!");
					return false;
				}

		}
	</script>
</body>
</html>