<html>
<head>
	<style>
		body{color: #8b795e;}
	   .vízszintesjobb{ text-shadow: 1px 0px 0px black;}
		a.one:link {color:#8b795e;text-decoration:none;}
		a.one:visited {color:#8b795e;text-decoration:none;}
		a.one:hover {color:#000000;text-decoration:none;}
	</style>
	<meta charset="charset=iso-8859-2">
	<style type="text/css">
		body {font-family: cursive;}
	</style>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Lakáshirdető portál</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body bgcolor="#d2b48c" link = "" alink="" vlink = "">
	<section class="container">
		<table border = 3 bgcolor = "fce6c9" align = "center">
			<tr><td>
			<table width = 1200 align = "center" border = 0>
				<tr>
					<td height = 100 colspan = 2 align = "left" background = "">
						<!--<p><img src="logo.png"></p>--->
						{% load staticfiles %}
							<img src={% static "webalkalmazas/logo.png" %}>
							<!--<img src="static/webalkalmazas/logo.png" alt="My image"/>--->
					</td>
					<td colspan = 3 align = "right" valign = "center">
						{% if user.is_authenticated %}
     						<font size= 4>Felhasználó: {{ user.get_username }}&nbsp &nbsp &nbsp</font><br>
							<font size= 2><a class = "one" href="/polls/change_password/">Jelszó változtatás</a>&nbsp &nbsp&nbsp &nbsp &nbsp</font><br>
							<a class = "one" href="{% url 'logout'%}?next={{request.path}}">Logout</a>&nbsp&nbsp &nbsp &nbsp
  						{% else %}
							<a class = "one" href="{% url 'login'%}?next={{request.path}}">Login</a>&nbsp &nbsp &nbsp
   						{% endif %}
					</td>
				</tr>
				<tr>
					<td colspan = 5><hr color = "8b795e"></td>
				</tr>
				<tr height = 50 align = "center">
					<td width = "20%"><a class = "one" href="/polls/"><font size= 4><b>Főoldal</b></font></a></td>
					<td width = "20%"><a class = "one" href="/polls/search/"><font size= 4>Ingatlan keresés</font></a></td>
					<td width = "20%">
							{% if user.is_authenticated %}
							<a class = "one" href="/polls/addadd/"><font size= 4>Hirdetés feladás</font></a>
							{% endif %}
					</td>
					<td width = "20%"><!--<a class = "one" href=""><font size= 4>Link2</font></a>--></td>
					<td width = "20%"><!--<a class = "one" href=""><font size= 4>Link3</font></a>--></td>
				</tr>
				<tr height = 600>
					<td colspan = 5 valign = "top">
						<p>
							<table width=800 align="center"><tr><td>
							<br><br><br>
							<h3>Történetünk</h3>
							A közel 20 éves talaldmegujotthonod.hu az egyik legújabb magyar honlap. Büszkék vagyunk rá,
							hogy a cég a kezdetek óta magyar tulajdonban van, az alapító ma is a cég stratégiai vezetője.
							Elkötelezettek vagyunk a piaci igények minél alaposabb megismerése és a folyamatos fejlesztések iránt,
							ezért már több mint 2-en dolgozunk azon, hogy világszínvonalú szolgáltatást nyújtsunk ügyfeleinknek.
							</td></tr></table>
						</p>

					</td>
				</tr>
				<tr>
					<td colspan = 5>
						<hr color="8b795e">
					</td>
				</tr>
				<tr>
					<td colspan = 3 align="left" valign="bottom">
						<p><h4>&nbsp &nbsp &nbsp&nbsp &nbsp &nbspTovábbi hasznos oldalak</h4></p>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://www.bankracio.hu/hitelkalkulator/lakashitel/1-lakasvasarlasi-hitel-hasznalt-lakasra">Lakáshitel-kalkulátor</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://hirdetesfeladas.ingatlan.com/szolgaltatasaink-maganhirdetoknek/energiatanusitvany">Energiatanusítvány</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://alaprajz.ingatlan.com/editor">Alaprajztervező</a>
						<br>
					</td>
					<td colspan = 2 align="left">
						<p><h4>Kapcsolat</h4></p>
						Email: segitunk@talaldmegujotthonod.hu<br>
						Ügyfélszolgálat: +36 (1) 111 1111<br>
						Sajtókapcsolat: sajto@talaldmegujotthonod.hu
						<br>
					</td>
				</tr>
			</table>
			</td></tr>
		</table>
	</section>
</body>
</html>