<html>
<head>
	<style>
		body{color: #8b795e;}
	   .vízszintesjobb{ text-shadow: 1px 0px 0px black;}
		a.one:link {color:#8b795e;text-decoration:none;}
		a.one:visited {color:#8b795e;text-decoration:none;}
		a.one:hover {color:#000000;text-decoration:none;}
	</style>
	<meta charset="charset=iso-8859-2">
	<style type="text/css">
		body {font-family: cursive;}
		.button1 {
			background-color: #fce6c9; 
			color: #8b795e; 
			border: 2px solid #D2B48C;
			transition-duration: 0.4s;
			padding: 5px 30px;
			font-size: 15px;
		}
		.button1:hover {
			background-color: #D2B48C;
			color: white;
		}
	</style>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Lakáshirdető portál</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body bgcolor="#d2b48c" link = "" alink="" vlink = "">
	<section class="container">
		<table border = 3 bgcolor = "fce6c9" align = "center">
			<tr><td>
			<table width = 1200 align = "center" border = 0>
				<tr>
					<td height = 100 colspan = 2 align = "left" background = "">
						<!--<p><img src="logo.png"></p>--->
						{% load staticfiles %}
							<img src={% static "webalkalmazas/logo.png" %}>
							<!--<img src="static/webalkalmazas/logo.png" alt="My image"/>--->
					</td>
					<td colspan = 3 align = "right" valign = "center">
						{% if user.is_authenticated %}
     						<font size= 4>Felhasználó: {{ user.get_username }}&nbsp &nbsp &nbsp</font><br>
							<font size= 2><a class = "one" href="/polls/change_password/">Jelszó változtatás</a>&nbsp &nbsp&nbsp &nbsp &nbsp</font><br>
							<a class = "one" href="{% url 'logout'%}?next={{request.path}}">Logout</a>&nbsp&nbsp &nbsp &nbsp
  						{% else %}
							<a class = "one" href="{% url 'login'%}?next={{request.path}}">Login</a>&nbsp &nbsp &nbsp
   						{% endif %}
					</td>
				</tr>
				<tr>
					<td colspan = 5><hr color = "8b795e"></td>
				</tr>
				<tr height = 50 align = "center">
					<td width = "20%"><a class = "one" href="/polls/"><font size= 4>Főoldal</font></a></td>
					<td width = "20%"><a class = "one" href="/polls/search/"><font size= 4><b>Ingatlan keresés</b></font></a></td>
					<td width = "20%">
							{% if user.is_authenticated %}
							<a class = "one" href="/polls/addadd/"><font size= 4>Hirdetés feladás</font></a>
							{% endif %}
					</td>
					<td width = "20%">
							{% if user.is_authenticated %}
							<a class = "one" href="/polls/messages/"><font size= 4>Üzeneteim</font></a>
							{% endif %}
					</td>
					<td width = "20%">
							{% if user.is_authenticated %}
							<a class = "one" href="/polls/search_owner/"><font size= 4>Hirdetéseim</font></a>
							{% endif %}
					</td>
				</tr>
				<tr height = 1000>
					<td colspan = 5 valign = "top">
						<p><br></p>
						<form action="/polls/searchresults/">
							<table width = 1000 align = "center" border = 0><tr>
								<td>Megye:<br>
									<input type="checkbox" name="country" value="Budapest">Budapest<br>
									<input type="checkbox" name="country" value="Bács-Kiskun">Bács-Kiskun megye<br>
									<input type="checkbox" name="country" value="Baranya">Baranya megye<br>
									<input type="checkbox" name="country" value="Békés">Békés megye<br>
									<input type="checkbox" name="country" value="Borsod-Abauj">Borsod-Abaúj-Zemplén megye<br>
									<input type="checkbox" name="country" value="Csongrád">Csongrád megye<br>
									<input type="checkbox" name="country" value="Fejér">Fejér megye<br>
									<input type="checkbox" name="country" value="Győr-Moson-Sopron">Győr-Moson-Sopron megye<br>
									<input type="checkbox" name="country" value="Hajdu-Bihar">Hajdú-Bihar megye<br>
									<input type="checkbox" name="country" value="Heves">Heves megye<br>
									<input type="checkbox" name="country" value="Jász-Nagykun-Szolnok">Jász-Nagykun-Szolnok megye<br>
									<input type="checkbox" name="country" value="Komárom-Esztergom">Komárom-Esztergom megye<br>
									<input type="checkbox" name="country" value="Nográd">Nógrád megye<br>
									<input type="checkbox" name="country" value="Past">Pest megye<br>
									<input type="checkbox" name="country" value="Somogy">Somogy megye<br>
									<input type="checkbox" name="country" value="Szabolcs-Szatmár-Bereg">Szabolcs-Szatmár-Bereg megye<br>
									<input type="checkbox" name="country" value="Tolna">Tolna megye<br>
									<input type="checkbox" name="country" value="Vas">Vas megye<br>
									<input type="checkbox" name="country" value="Veszprém">Veszprém megye<br>
									<input type="checkbox" name="country" value="Zala">Zala megye
								</td>
								<td valign="top">
									<p>Ház típusa:<br>
										<input type="checkbox" name="type" value="családi">Családi
										<input type="checkbox" name="type" value="társas">Társas
										<input type="checkbox" name="type" value="panel">Panel
										<input type="checkbox" name="type" value="iker">Iker
										<input type="checkbox" name="type" value="egyéb">Egyéb
									</p>
									<p>Falak típusa:<br>
										<input type="checkbox" name="wall" value="panel">Panel
										<input type="checkbox" name="wall" value="tégla">Tégla
										<input type="checkbox" name="wall" value="vályog">Vályog
										<input type="checkbox" name="wall" value="ytong">Ytong
										<input type="checkbox" name="wall" value="fa">Fa
										<input type="checkbox" name="wall" value="rönk">Rönk
										<input type="checkbox" name="wall" value="kő">Kő
										<input type="checkbox" name="wall" value="egyéb">Egyéb
									</p>
									<p>Lift:<br>
										<input type="radio" name="lift" value="van">Van
										<input type="radio" name="lift" value="nincs">Nincs
									</p>
									<p>Terület:<br><input type="number" name="squaremeter" min="0" max="1000000" value=""></p>
									<p>Ár:<br><input type="number" name="price" min="0" max="10000" value=""></p>
									<p>Építés éve: (legkorábban)<br><input type="number" name="year" min="1000" max="2017" value=""></p>
									<p>Rendezés szempontja:<br>
										<select name = "order">
											<option value="ures"></option>
											<option value="country">Megye</option>
											<option value="type">Ház típusa</option>
											<option value="wall">Falak típusa</option>
											<option value="squaremeter">Terület</option>
											<option value="price">Ár</option>
											<option value="year">Építés éve</option>
										</select>
									</p>
									<input type="submit" class="button button1" value="Keres">
								</td>
							</tr></table>
						</form>
						{% if list %}
						<p><br><table width = 1000 align = center border = 0>
							{% for adds in list %}
								<tr height = 60>
									<td colspan = 3>
										<font size = 6>{{adds.address}}</font>
									</td>
									<td>
										<font size = 6>{{adds.price}} M Ft</font>
									</td>
									<td rowspan = 8>
										<img src="{{adds.picture.url}}" height="200" width="250" border="1"/>
									</td>
								</tr>
								<tr>
									<td width = 15%>
										<b>Alapterület:</b>
									</td>
									<td width = 35%>
										{{adds.squaremeter}} m<sup>2</sup>
									</td>
									<td width = 20%>
										<b>Lift</b>
									</td>
									<td width = 30%>
										{{adds.lift}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Ház típusa:</b>
									</td>
									<td>
										{{adds.type}}
									</td>
									<td>
										<b>Bútorozott:</b>
									</td>
									<td>
										{{adds.furnitured}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Falak típusa</b>
									</td>
									<td>
										{{adds.wall}}
									</td>
									<td>
										<b>Parkolás:</b>
									</td>
									<td>
										{{adds.parking}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Szobák száma:</b>
									</td>
									<td>
										{{adds.rooms}}
									</td>
									<td>
										<b>Fűtés:</b>
									</td>
									<td>
										{{adds.heating}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Ingatlan állapota:</b>
									</td>
									<td>
										{{adds.state}}
									</td>
									<td>
										<b>Kilátás</b>
									</td>
									<td>
										{{adds.view}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Építés éve:</b>
									</td>
									<td>
										{{adds.year}}
									</td>
									<td>
										<b>Tulajdonos:</b>
									</td>
									<td>
										{{adds.owner}}

									</td>
								</tr>
								<tr>
									<td height = 100 align = "Left" valign = "top">
										<b>Megjegyzés: </b>
									</td>
									<td colspan = 3 style="max-width:200px" align = "Left" valign = "top">
										{{adds.description}}
									</td>
								</tr>
								<tr>
									<td colspan = 5 height = 100 align = "right" valign = "top">
										<form action="/polls/connect/">
											<input type = "hidden" name = "id" value = "{{adds.id}}">
											<input type="submit" class="button button1" value="Kapcsolat felvétel">
										</form>
										{% if user.is_superuser %}
										<form action="/polls/delete_add/">
											<input type = "hidden" name = "id" value = "{{adds.id}}">
											<input type="submit" class="button button1" value="Hirdetés törlése">
										</form>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</table></p>
						{% else %}
						<p>Nincs egyetlen hirdetés sem</p>
						{% endif %}

					</td>
				</tr>
				<tr>
					<td colspan = 5>
						<hr color="8b795e">
					</td>
				</tr>
				<tr>
					<td colspan = 3 align="left" valign="bottom">
						<p><h4>&nbsp &nbsp &nbsp&nbsp &nbsp &nbspTovábbi hasznos oldalak</h4></p>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://www.bankracio.hu/hitelkalkulator/lakashitel/1-lakasvasarlasi-hitel-hasznalt-lakasra">Lakáshitel-kalkulátor</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://hirdetesfeladas.ingatlan.com/szolgaltatasaink-maganhirdetoknek/energiatanusitvany">Energiatanusítvány</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://alaprajz.ingatlan.com/editor">Alaprajztervező</a>
						<br>
					</td>
					<td colspan = 2 align="left">
						<p><h4>Kapcsolat</h4></p>
						Email: segitunk@talaldmegujotthonod.hu<br>
						Ügyfélszolgálat: +36 (1) 111 1111<br>
						Sajtókapcsolat: sajto@talaldmegujotthonod.hu
						<br>
					</td>
				</tr>
			</table>
			</td></tr>
		</table>
	</section>
</body>
</html>