<html>
<head>
	<style>
		body{color: #8b795e;}
	   .vízszintesjobb{ text-shadow: 1px 0px 0px black;}
		a.one:link {color:#8b795e;text-decoration:none;}
		a.one:visited {color:#8b795e;text-decoration:none;}
		a.one:hover {color:#000000;text-decoration:none;}
	</style>
	<meta charset="charset=iso-8859-2">
	<style type="text/css">
		body {font-family: cursive;}
		.button1 {
			background-color: #fce6c9; 
			color: #8b795e; 
			border: 2px solid #D2B48C;
			transition-duration: 0.4s;
			padding: 5px 30px;
			font-size: 15px;
		}
		.button1:hover {
			background-color: #D2B48C;
			color: white;
		}
	</style>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Lakáshirdető portál</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body bgcolor="#d2b48c" link = "" alink="" vlink = "">
	<section class="container">
		<table border = 3 bgcolor = "fce6c9" align = "center">
			<tr><td>
			<table width = 1200 align = "center" border = 0>
				<tr>
					<td height = 100 colspan = 2 align = "left" background = "">
						<!--<p><img src="logo.png"></p>--->
						{% load staticfiles %}
							<img src={% static "webalkalmazas/logo.png" %}>
							<!--<img src="static/webalkalmazas/logo.png" alt="My image"/>--->
					</td>
					<td colspan = 3 align = "right" valign = "center">
						{% if user.is_authenticated %}
     						<font size= 4>Felhasználó: {{ user.get_username }}&nbsp &nbsp &nbsp</font><br>
							<font size= 2><a class = "one" href="/polls/change_password/">Jelszó változtatás</a>&nbsp &nbsp&nbsp &nbsp &nbsp</font><br>
							<a class = "one" href="{% url 'logout'%}?next={{request.path}}">Logout</a>&nbsp&nbsp &nbsp &nbsp
  						{% else %}
							<a class = "one" href="{% url 'login'%}?next={{request.path}}">Login</a>&nbsp &nbsp &nbsp
   						{% endif %}
					</td>
				</tr>
				<tr>
					<td colspan = 5><hr color = "8b795e"></td>
				</tr>
				<tr height = 50 align = "center">
					<td width = "20%"><a class = "one" href="/polls/"><font size= 4>Főoldal</font></a></td>
					<td width = "20%"><a class = "one" href="/polls/search/"><font size= 4><b>Ingatlan keresés</b></font></a></td>
					<td width = "20%">
							{% if user.is_authenticated %}
							<a class = "one" href="/polls/addadd/"><font size= 4>Hirdetés feladás</font></a>
							{% endif %}
					</td>
					<td width = "20%"><!--<a class = "one" href=""><font size= 4>Link2</font></a>--></td>
					<td width = "20%"><!--<a class = "one" href=""><font size= 4>Link3</font></a>--></td>
				</tr>
				<tr height = 1000>
					<td colspan = 5 valign = "top">
						<p><br></p>
						<form action="/polls/searchresults/">
							<table width = 1000 align = "center" border = 0><tr>
								<td>Megye:<br> 
									<input type="checkbox" name="megye" value="Budapest">Budapest<br>
									<input type="checkbox" name="megye" value="Bacs-Kiskun">Bács-Kiskun megye<br>
									<input type="checkbox" name="megye" value="Baranya">Baranya megye<br>
									<input type="checkbox" name="megye" value="Bekes">Békés megye<br>
									<input type="checkbox" name="megye" value="Borsod-Abauj">Borsod-Abaúj-Zemplén megye<br>
									<input type="checkbox" name="megye" value="Csongrad">Csongrád megye<br>
									<input type="checkbox" name="megye" value="Fejer">Fejér megye<br>
									<input type="checkbox" name="megye" value="Gyor-Moson-Sopron">Győr-Moson-Sopron megye<br>
									<input type="checkbox" name="megye" value="Hajdu-Bihar">Hajdú-Bihar megye<br>
									<input type="checkbox" name="megye" value="Heves">Heves megye<br>
									<input type="checkbox" name="megye" value="Jazs-Nagykun-Szolnok">Jász-Nagykun-Szolnok megye<br>
									<input type="checkbox" name="megye" value="Komarom-Esztergom">Komárom-Esztergom megye<br>
									<input type="checkbox" name="megye" value="Nograd">Nógrád megye<br>
									<input type="checkbox" name="megye" value="Past">Pest megye<br>
									<input type="checkbox" name="megye" value="Somogy">Somogy megye<br>
									<input type="checkbox" name="megye" value="Szabolcs-Szatmar-Bereg">Szabolcs-Szatmár-Bereg megye<br>
									<input type="checkbox" name="megye" value="Tolna">Tolna megye<br>
									<input type="checkbox" name="megye" value="Vas">Vas megye<br>
									<input type="checkbox" name="megye" value="Veszprem">Veszprém megye<br>
									<input type="checkbox" name="megye" value="Zala">Zala megye
								</td>
								<td valign="top">
									<p>Ház típusa:<br>
										<input type="checkbox" name="haz" value="csaladi">Családi
										<input type="checkbox" name="haz" value="tarsas">Társas
										<input type="checkbox" name="haz" value="panel">Panel
										<input type="checkbox" name="haz" value="iker">Iker
										<input type="checkbox" name="haz" value="egyéb">Egyéb
									</p>
									<p>Falak típusa:<br>
										<input type="checkbox" name="fal" value="panel">Panel
										<input type="checkbox" name="fal" value="tegla">Tégla
										<input type="checkbox" name="fal" value="valyog">Vályog
										<input type="checkbox" name="fal" value="ytong">Ytong
										<input type="checkbox" name="fal" value="fa">Fa
										<input type="checkbox" name="fal" value="ronk">Rönk
										<input type="checkbox" name="fal" value="ko">Kő
										<input type="checkbox" name="fal" value="egyeb">Egyéb
									</p>
									<p>Lift:<br>
										<input type="radio" name="lift" value="van">Van
										<input type="radio" name="lift" value="nincs">Nincs
									</p>
									<p>Terület:<br><input type="number" name="szobaszam" min="0" max="1000000" value=""></p>
									<p>Ár:<br><input type="number" name="szobaszam" min="0" max="10000" value=""></p>
									<p>Építés éve: (legkorábban)<br><input type="number" name="szobaszam" min="1000" max="2017" value=""></p>
									<p>Rendezés szempontja:<br>
										<select name = "rendez">
											<option value="ures"></option>
											<option value="megye">Megye</option>
											<option value="haz">Ház típusa</option>
											<option value="fal">Falak típusa</option>
											<option value="terulet">Terület</option>
											<option value="ar">Ár</option>
											<option value="ev">Építés éve</option>
										</select>
									</p>
									<input type="submit" class="button button1" value="Keres">
								</td>
							</tr></table>
						</form>
						{% if list %}
						<p><br><table width = 1000 align = center border = 0>
							{% for adds in list %}
								<tr height = 60>
									<td colspan = 3>
										<font size = 6>{{adds.address}}</font>
									</td>
									<td>
										<font size = 6>{{adds.price}} M Ft</font>
									</td>
								</tr>
								<tr>
									<td width = 15%>
										<b>Alapterület:</b>
									</td>
									<td width = 35%>
										{{adds.squaremeter}} m<sup>2</sup>
									</td>
									<td width = 20%>
										<b>Lift</b>
									</td>
									<td width = 30%>
										{{adds.lift}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Ház típusa:</b>
									</td>
									<td>
										{{adds.type}}
									</td>
									<td>
										<b>Bútorozott:</b>
									</td>
									<td>
										{{adds.furnitured}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Falak típusa</b>
									</td>
									<td>
										{{adds.wall}}
									</td>
									<td>
										<b>Parkolás:</b>
									</td>
									<td>
										{{adds.parking}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Szobák száma:</b>
									</td>
									<td>
										{{adds.rooms}}
									</td>
									<td>
										<b>Fűtés:</b>
									</td>
									<td>
										{{adds.heating}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Ingatlan állapota:</b>
									</td>
									<td>
										{{adds.state}}
									</td>
									<td>
										<b>Kilátás</b>
									</td>
									<td>
										{{adds.view}}
									</td>
								</tr>
								<tr>
									<td>
										<b>Építés éve:</b>
									</td>
									<td>
										{{adds.year}}
									</td>
									<td>
										<b>Tulajdonos:</b>
									</td>
									<td>
										{{adds.owner}}
									</td>
								</tr>
								<tr>
									<form action="/polls/connect/">
											<td colspan = 4 height = 100 align = "right" valign = "top">
												<input type = "hidden" name = "id" value = "{{adds.id}}">
												<input type="submit" class="button button1" value="Kapcsolat felvétel">
											</td>
									</form>
								</tr>
							{% endfor %}
						</table></p>
						{% else %}
						<p>Nincs egyetlen hirdetés sem</p>
						{% endif %}

					</td>
				</tr>
				<tr>
					<td colspan = 5>
						<hr color="8b795e">
					</td>
				</tr>
				<tr>
					<td colspan = 3 align="left" valign="bottom">
						<p><h4>&nbsp &nbsp &nbsp&nbsp &nbsp &nbspTovábbi hasznos oldalak</h4></p>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://www.bankracio.hu/hitelkalkulator/lakashitel/1-lakasvasarlasi-hitel-hasznalt-lakasra">Lakáshitel-kalkulátor</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://hirdetesfeladas.ingatlan.com/szolgaltatasaink-maganhirdetoknek/energiatanusitvany">Energiatanusítvány</a>
						<br>
						&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp<a class="one" href="https://alaprajz.ingatlan.com/editor">Alaprajztervező</a>
						<br>
					</td>
					<td colspan = 2 align="left">
						<p><h4>Kapcsolat</h4></p>
						Email: segitunk@talaldmegujotthonod.hu<br>
						Ügyfélszolgálat: +36 (1) 111 1111<br>
						Sajtókapcsolat: sajto@talaldmegujotthonod.hu
						<br>
					</td>
				</tr>
			</table>
			</td></tr>
		</table>
	</section>
</body>
</html>